.idea5{
    background-color: rgb(220, 220, 220);
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 800px;
}
.idea5 .table, .idea5 .td {
    background-color: rgb(150, 150, 150);
    padding: 5px;
}
.idea5 .title{
    background-color: rgb(170,170,170);
}

.idea4{
    background-color: rgb(172, 107, 69);
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 800px;
}
.idea4 .table, .idea4 .td {
    background-color: rgb(135, 49, 0);
    padding: 5px;
}
.idea4 .title{
    background-color: rgb(148,79,39);
}

.idea3{
    background-color: rgb(116, 255, 96);
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 800px;
}
.idea3 .table, .idea3 .td {
    background-color: rgb(21, 160, 0);
    padding: 5px;
}
.idea3 .title{
    background-color: rgb(68,214,46);
}

.idea2{
    background-color: rgb(255, 141, 70);
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 800px;
}
.idea2 .table, .idea2 .td {
    background-color: rgb(255, 98, 0);
    padding: 5px;
}
.idea2 .title{
    background-color: rgb(227,123,40);
}

.idea1{
    background-color: rgb(100, 100, 250);
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 800px;
}
.idea1 .table, .idea1 .td {
    background-color: rgb(0, 0, 150);
    padding: 5px;
}
.idea1 .title{
    background-color: rgb(35,35,255);
}